In [44]:
A = {1,2,3,4,5}
B = set([4,5,6,7,8])
C = {5,6,9,10}

In [45]:
print(A)
print(B)
print(C)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{9, 10, 5, 6}

# Operations on sets

In [46]:
len(A)

5

In [47]:
# we cannot access set elements using indexing

for x in A:
    print(x)

1
2
3
4
5

In [48]:
A | B # Union of A and B(All elements from both sets, NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [49]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [50]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [51]:
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [52]:
print(A)
print(B)
print(C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6, 7, 8}
{9, 10, 5, 6}

In [53]:
A.remove(3)

In [54]:
A

{1, 2, 4, 5, 6, 7, 8, 9, 10}

In [55]:
B.discard(6)

In [56]:
B

{4, 5, 7, 8}

In [57]:
A.pop()

1

In [58]:
A

{2, 4, 5, 6, 7, 8, 9, 10}

In [59]:
A & B  # Intersection of A and B

{4, 5, 7, 8}

In [60]:
A.intersection(B)

{4, 5, 7, 8}

In [61]:
A.intersection_update(B,C)
A

{5}

In [62]:
A - B  # set of elements in A but not in B

set()

In [63]:
A.difference(B)

set()

In [64]:
help(A.difference_update)

Help on built-in function difference_update:

difference_update(...) method of builtins.set instance
    Remove all elements of another set from this set.

In [65]:
B.difference_update(A,C)
B

{4, 7, 8}

In [66]:
A ^ B    # Symmetric difference (set of elements in A and B but not in both)

{4, 5, 7, 8}

In [67]:
A.symmetric_difference(B)

{4, 5, 7, 8}

In [69]:
B

{4, 7, 8}

In [72]:
D = frozenset(B)        # We Cant modify frozen set
print(D)

frozenset({8, 4, 7})

In [73]:
D.add(5)

AttributeError: 'frozenset' object has no attribute 'add'