In [1]:
emp =()
print(type(emp))

<class 'tuple'>

In [2]:
emp

()

In [4]:
city = "pune",
type(city)

tuple

In [5]:
city = ("pune","bangalore","delhi","mumbai")
city

('pune', 'bangalore', 'delhi', 'mumbai')

In [6]:
list1 = [1,2,3,4]
tuple1 = (1,2,3,4)
list1.append(5)
print(list1)

[1, 2, 3, 4, 5]

In [7]:
city

('pune', 'bangalore', 'delhi', 'mumbai')

In [8]:
city[1]

'bangalore'

In [9]:
city[-1]

'mumbai'

# concatenation

In [10]:
city

('pune', 'bangalore', 'delhi', 'mumbai')

In [5]:
num = 1,2,3,4

In [12]:
print(city+num)

('pune', 'bangalore', 'delhi', 'mumbai', 1, 2, 3, 4)

# Nesting

In [13]:
nest = (city,num)
nest

(('pune', 'bangalore', 'delhi', 'mumbai'), (1, 2, 3, 4))

# repetation

In [15]:
rep = ("python",)*5
rep

('python', 'python', 'python', 'python', 'python')

In [16]:
num

(1, 2, 3, 4)

In [17]:
num[1:]

(2, 3, 4)

In [18]:
num[::-1]

(4, 3, 2, 1)

In [1]:
tuple("Python")

('P', 'y', 't', 'h', 'o', 'n')

In [6]:
num

(1, 2, 3, 4)

In [7]:
a,b,c,d = num

In [8]:
print(a,b,c,d)

1 2 3 4

In [10]:
a,*b,c = num
print(a,b,c)

1 [2, 3] 4

# deleting a tuple

In [11]:
tuple1 = (1,2,3,4)
tuple1

(1, 2, 3, 4)

In [12]:
del tuple1

In [13]:
tuple1       # error as tuple1 is deleted

NameError: name 'tuple1' is not defined

# Built in functions

In [14]:
num1 = (3,5,2,2,2,2,6,5,8)

In [15]:
num1.count(2)

4

In [16]:
sum(num1)

35

In [17]:
len(num1)

9

In [18]:
max(num1)

8

In [19]:
min(num1)

2

# converting list into tuple

In [20]:
lst = [1,2,3,4]
print(type(lst))

<class 'list'>

In [22]:
tpl = tuple(lst)

In [23]:
print(lst)

[1, 2, 3, 4]

In [24]:
type(tpl)

tuple

# Nesting tuples in list

In [25]:
lst = [(1,2,3),(4,5,6)]
lst

[(1, 2, 3), (4, 5, 6)]

In [26]:
lst.append(("tuple","inside","list"))
lst

[(1, 2, 3), (4, 5, 6), ('tuple', 'inside', 'list')]

In [27]:
lst.remove((1,2,3))
lst

[(4, 5, 6), ('tuple', 'inside', 'list')]

# Nesting lists within tuples

In [28]:
tpl = (['a','b','c'],['d','e','f'])
tpl

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [29]:
tpl[0].append('z')
print(tpl)

(['a', 'b', 'c', 'z'], ['d', 'e', 'f'])

In [30]:
tpl[0].remove('z')
tpl

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [31]:
series = (0,1,2,3,4,5,6,7,8,9)
series

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [32]:
series1 = series+(10,)

In [33]:
series1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [34]:
series3 = series1[:11] + series[::-1]
series3

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0)